.btnsave{
  color: #177612;
}
.btnsave:hover{
  background-color:#177612;
  
}

.btnedit{   
  color:#0f0f2e;
}
.btnedit:hover{
  background-color:#111142;
}
.btndel{
  color:#dc391c;
}
.btndel:hover{
  background-color: #dc391c;
}
